###### Importing Libraries

In [1]:
import numpy as np
import pandas as pd
import os

In [2]:
df=pd.read_csv('D:\data folder\Admission_Predict_Ver1.1.csv')

In [3]:
df.head()

,Serial No.,GRE Score,TOEFL Score,University Rating,SOP,LOR,CGPA,Research,Chance of Admit
0,1,337,118,4,4.5,4.5,9.65,1,0.92
1,2,324,107,4,4.0,4.5,8.87,1,0.76
2,3,316,104,3,3.0,3.5,8.00,1,0.72
3,4,322,110,3,3.5,2.5,8.67,1,0.80
4,5,314,103,2,2.0,3.0,8.21,0,0.65

In [4]:
df.shape

(500, 9)

In [5]:
# checking mission vallues
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 500 entries, 0 to 499
Data columns (total 9 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   Serial No.         500 non-null    int64
 1   GRE Score          500 non-null    int64
 2   TOEFL Score        500 non-null    int64
 3   University Rating  500 non-null    int64
 4   SOP                500 non-null    float64
 5   LOR                500 non-null    float64
 6   CGPA               500 non-null    float64
 7   Research           500 non-null    int64
 8   Chance of Admit    500 non-null    float64
dtypes: float64(4), int64(5)
memory usage: 35.3 KB

In [6]:
# duplicate values
df.duplicated()

0      False
1      False
2      False
3      False
4      False
       ...
495    False
496    False
497    False
498    False
499    False
Length: 500, dtype: bool

In [7]:
x=df.iloc[:,0:-1]
y=df.iloc[:,-1]

In [8]:
x

,Serial No.,GRE Score,TOEFL Score,University Rating,SOP,LOR,CGPA,Research
0,1,337,118,4,4.5,4.5,9.65,1
1,2,324,107,4,4.0,4.5,8.87,1
2,3,316,104,3,3.0,3.5,8.00,1
3,4,322,110,3,3.5,2.5,8.67,1
4,5,314,103,2,2.0,3.0,8.21,0
...,...,...,...,...,...,...,...,...
495,496,332,108,5,4.5,4.0,9.02,1
496,497,337,117,5,5.0,5.0,9.87,1
497,498,330,120,5,4.5,5.0,9.56,1
498,499,312,103,4,4.0,5.0,8.43,0
499,500,327,113,4,4.5,4.5,9.04,0

In [9]:
y

0      0.92
1      0.76
2      0.72
3      0.80
4      0.65
       ...
495    0.87
496    0.96
497    0.93
498    0.73
499    0.84
Name: Chance of Admit , Length: 500, dtype: float64

In [10]:
from sklearn.model_selection import train_test_split
x_train,x_test,y_train,y_test=train_test_split(x,y,test_size=0.2,random_state=1)

In [11]:
x_train

,Serial No.,GRE Score,TOEFL Score,University Rating,SOP,LOR,CGPA,Research
238,239,310,104,3,2.0,3.5,8.37,0
438,439,318,110,1,2.5,3.5,8.54,1
475,476,300,101,3,3.5,2.5,7.88,0
58,59,300,99,1,3.0,2.0,6.80,1
380,381,322,104,3,3.5,4.0,8.84,1
...,...,...,...,...,...,...,...,...
255,256,307,110,4,4.0,4.5,8.37,0
72,73,321,111,5,5.0,5.0,9.45,1
396,397,325,107,3,3.0,3.5,9.11,1
235,236,326,111,5,4.5,4.0,9.23,1
37,38,300,105,1,1.0,2.0,7.80,0

In [12]:
from sklearn.preprocessing import MinMaxScaler
scaler=MinMaxScaler()
x_train_scaled=scaler.fit_transform(x_train)
x_test_scaled=scaler.transform(x_test)

In [14]:
x_train_scaled

array([[0.47695391, 0.4       , 0.42857143, ..., 0.57142857, 0.50320513,
        0.        ],
       [0.87775551, 0.56      , 0.64285714, ..., 0.57142857, 0.55769231,
        1.        ],
       [0.95190381, 0.2       , 0.32142857, ..., 0.28571429, 0.34615385,
        0.        ],
       ...,
       [0.79358717, 0.7       , 0.53571429, ..., 0.57142857, 0.74038462,
        1.        ],
       [0.47094188, 0.72      , 0.67857143, ..., 0.71428571, 0.77884615,
        1.        ],
       [0.0741483 , 0.2       , 0.46428571, ..., 0.14285714, 0.32051282,
        0.        ]])

######  Importing neural network

In [15]:
import tensorflow
from tensorflow import keras
from keras import Sequential
from keras.layers import Dense

In [30]:
model=Sequential()
model.add(Dense(7,activation='relu',input_dim=8))
model.add(Dense(7,activation='relu'))
model.add(Dense(1,activation='linear'))

In [31]:
model.summary()

Model: "sequential_2"
_________________________________________________________________
 Layer (type)                Output Shape              Param #
=================================================================
 dense_4 (Dense)             (None, 7)                 63

 dense_5 (Dense)             (None, 7)                 56

 dense_6 (Dense)             (None, 1)                 8

=================================================================
Total params: 127 (508.00 Byte)
Trainable params: 127 (508.00 Byte)
Non-trainable params: 0 (0.00 Byte)
_________________________________________________________________

In [32]:
model.compile(loss='mean_squared_error',optimizer='Adam')

In [36]:
history=model.fit(x_train_scaled,y_train,epochs=100,validation_split=0.2)

Epoch 1/100
10/10 [==============================] - 0s 12ms/step - loss: 0.0235 - val_loss: 0.0220
Epoch 2/100
10/10 [==============================] - 0s 6ms/step - loss: 0.0174 - val_loss: 0.0189
Epoch 3/100
10/10 [==============================] - 0s 7ms/step - loss: 0.0158 - val_loss: 0.0182
Epoch 4/100
10/10 [==============================] - 0s 7ms/step - loss: 0.0153 - val_loss: 0.0180
Epoch 5/100
10/10 [==============================] - 0s 6ms/step - loss: 0.0150 - val_loss: 0.0176
Epoch 6/100
10/10 [==============================] - 0s 6ms/step - loss: 0.0147 - val_loss: 0.0172
Epoch 7/100
10/10 [==============================] - 0s 6ms/step - loss: 0.0143 - val_loss: 0.0168
Epoch 8/100
10/10 [==============================] - 0s 6ms/step - loss: 0.0140 - val_loss: 0.0164
Epoch 9/100
10/10 [==============================] - 0s 6ms/step - loss: 0.0136 - val_loss: 0.0161
Epoch 10/100
10/10 [==============================] - 0s 6ms/step - loss: 0.0132 - val_loss: 0.0157
Epoch 11/100
10/10 [==============================] - 0s 6ms/step - loss: 0.0128 - val_loss: 0.0155
Epoch 12/100
10/10 [==============================] - 0s 7ms/step - loss: 0.0124 - val_loss: 0.0152
Epoch 13/100
10/10 [==============================] - 0s 7ms/step - loss: 0.0120 - val_loss: 0.0149
Epoch 14/100
10/10 [==============================] - 0s 7ms/step - loss: 0.0117 - val_loss: 0.0146
Epoch 15/100
10/10 [==============================] - 0s 7ms/step - loss: 0.0113 - val_loss: 0.0142
Epoch 16/100
10/10 [==============================] - 0s 7ms/step - loss: 0.0110 - val_loss: 0.0139
Epoch 17/100
10/10 [==============================] - 0s 7ms/step - loss: 0.0107 - val_loss: 0.0136
Epoch 18/100
10/10 [==============================] - 0s 7ms/step - loss: 0.0105 - val_loss: 0.0133
Epoch 19/100
10/10 [==============================] - 0s 6ms/step - loss: 0.0102 - val_loss: 0.0130
Epoch 20/100
10/10 [==============================] - 0s 8ms/step - loss: 0.0100 - val_loss: 0.0128
Epoch 21/100
10/10 [==============================] - 0s 6ms/step - loss: 0.0098 - val_loss: 0.0125
Epoch 22/100
10/10 [==============================] - 0s 8ms/step - loss: 0.0096 - val_loss: 0.0123
Epoch 23/100
10/10 [==============================] - 0s 6ms/step - loss: 0.0095 - val_loss: 0.0121
Epoch 24/100
10/10 [==============================] - 0s 6ms/step - loss: 0.0093 - val_loss: 0.0118
Epoch 25/100
10/10 [==============================] - 0s 6ms/step - loss: 0.0091 - val_loss: 0.0116
Epoch 26/100
10/10 [==============================] - 0s 7ms/step - loss: 0.0089 - val_loss: 0.0113
Epoch 27/100
10/10 [==============================] - 0s 6ms/step - loss: 0.0087 - val_loss: 0.0111
Epoch 28/100
10/10 [==============================] - 0s 6ms/step - loss: 0.0086 - val_loss: 0.0109
Epoch 29/100
10/10 [==============================] - 0s 5ms/step - loss: 0.0085 - val_loss: 0.0108
Epoch 30/100
10/10 [==============================] - 0s 5ms/step - loss: 0.0083 - val_loss: 0.0105
Epoch 31/100
10/10 [==============================] - 0s 5ms/step - loss: 0.0081 - val_loss: 0.0103
Epoch 32/100
10/10 [==============================] - 0s 6ms/step - loss: 0.0080 - val_loss: 0.0101
Epoch 33/100
10/10 [==============================] - 0s 5ms/step - loss: 0.0078 - val_loss: 0.0099
Epoch 34/100
10/10 [==============================] - 0s 6ms/step - loss: 0.0077 - val_loss: 0.0097
Epoch 35/100
10/10 [==============================] - 0s 6ms/step - loss: 0.0076 - val_loss: 0.0095
Epoch 36/100
10/10 [==============================] - 0s 6ms/step - loss: 0.0074 - val_loss: 0.0093
Epoch 37/100
10/10 [==============================] - 0s 7ms/step - loss: 0.0073 - val_loss: 0.0091
Epoch 38/100
10/10 [==============================] - 0s 6ms/step - loss: 0.0072 - val_loss: 0.0089
Epoch 39/100
10/10 [==============================] - 0s 6ms/step - loss: 0.0070 - val_loss: 0.0088
Epoch 40/100
10/10 [==============================] - 0s 7ms/step - loss: 0.0069 - val_loss: 0.0087
Epoch 41/100
10/10 [==============================] - 0s 6ms/step - loss: 0.0068 - val_loss: 0.0085
Epoch 42/100
10/10 [==============================] - 0s 6ms/step - loss: 0.0067 - val_loss: 0.0083
Epoch 43/100
10/10 [==============================] - 0s 6ms/step - loss: 0.0066 - val_loss: 0.0083
Epoch 44/100
10/10 [==============================] - 0s 7ms/step - loss: 0.0065 - val_loss: 0.0082
Epoch 45/100
10/10 [==============================] - 0s 6ms/step - loss: 0.0064 - val_loss: 0.0079
Epoch 46/100
10/10 [==============================] - 0s 7ms/step - loss: 0.0063 - val_loss: 0.0078
Epoch 47/100
10/10 [==============================] - 0s 6ms/step - loss: 0.0063 - val_loss: 0.0078
Epoch 48/100
10/10 [==============================] - 0s 5ms/step - loss: 0.0062 - val_loss: 0.0077
Epoch 49/100
10/10 [==============================] - 0s 6ms/step - loss: 0.0061 - val_loss: 0.0075
Epoch 50/100
10/10 [==============================] - 0s 7ms/step - loss: 0.0060 - val_loss: 0.0074
Epoch 51/100
10/10 [==============================] - 0s 9ms/step - loss: 0.0060 - val_loss: 0.0073
Epoch 52/100
10/10 [==============================] - 0s 7ms/step - loss: 0.0059 - val_loss: 0.0073
Epoch 53/100
10/10 [==============================] - 0s 6ms/step - loss: 0.0058 - val_loss: 0.0071
Epoch 54/100
10/10 [==============================] - 0s 6ms/step - loss: 0.0058 - val_loss: 0.0071
Epoch 55/100
10/10 [==============================] - 0s 6ms/step - loss: 0.0057 - val_loss: 0.0069
Epoch 56/100
10/10 [==============================] - 0s 6ms/step - loss: 0.0057 - val_loss: 0.0069
Epoch 57/100
10/10 [==============================] - 0s 6ms/step - loss: 0.0056 - val_loss: 0.0069
Epoch 58/100
10/10 [==============================] - 0s 6ms/step - loss: 0.0055 - val_loss: 0.0067
Epoch 59/100
10/10 [==============================] - 0s 6ms/step - loss: 0.0055 - val_loss: 0.0067
Epoch 60/100
10/10 [==============================] - 0s 6ms/step - loss: 0.0055 - val_loss: 0.0066
Epoch 61/100
10/10 [==============================] - 0s 7ms/step - loss: 0.0054 - val_loss: 0.0066
Epoch 62/100
10/10 [==============================] - 0s 6ms/step - loss: 0.0054 - val_loss: 0.0065
Epoch 63/100
10/10 [==============================] - 0s 5ms/step - loss: 0.0053 - val_loss: 0.0064
Epoch 64/100
10/10 [==============================] - 0s 5ms/step - loss: 0.0053 - val_loss: 0.0063
Epoch 65/100
10/10 [==============================] - 0s 5ms/step - loss: 0.0052 - val_loss: 0.0063
Epoch 66/100
10/10 [==============================] - 0s 6ms/step - loss: 0.0052 - val_loss: 0.0063
Epoch 67/100
10/10 [==============================] - 0s 5ms/step - loss: 0.0052 - val_loss: 0.0061
Epoch 68/100
10/10 [==============================] - 0s 6ms/step - loss: 0.0051 - val_loss: 0.0062
Epoch 69/100
10/10 [==============================] - 0s 6ms/step - loss: 0.0051 - val_loss: 0.0060
Epoch 70/100
10/10 [==============================] - 0s 6ms/step - loss: 0.0051 - val_loss: 0.0061
Epoch 71/100
10/10 [==============================] - 0s 6ms/step - loss: 0.0050 - val_loss: 0.0060
Epoch 72/100
10/10 [==============================] - 0s 6ms/step - loss: 0.0050 - val_loss: 0.0059
Epoch 73/100
10/10 [==============================] - 0s 6ms/step - loss: 0.0050 - val_loss: 0.0059
Epoch 74/100
10/10 [==============================] - 0s 6ms/step - loss: 0.0050 - val_loss: 0.0061
Epoch 75/100
10/10 [==============================] - 0s 6ms/step - loss: 0.0049 - val_loss: 0.0058
Epoch 76/100
10/10 [==============================] - 0s 6ms/step - loss: 0.0049 - val_loss: 0.0057
Epoch 77/100
10/10 [==============================] - 0s 6ms/step - loss: 0.0049 - val_loss: 0.0058
Epoch 78/100
10/10 [==============================] - 0s 6ms/step - loss: 0.0049 - val_loss: 0.0058
Epoch 79/100
10/10 [==============================] - 0s 6ms/step - loss: 0.0048 - val_loss: 0.0056
Epoch 80/100
10/10 [==============================] - 0s 8ms/step - loss: 0.0048 - val_loss: 0.0056
Epoch 81/100
10/10 [==============================] - 0s 6ms/step - loss: 0.0048 - val_loss: 0.0056
Epoch 82/100
10/10 [==============================] - 0s 6ms/step - loss: 0.0048 - val_loss: 0.0055
Epoch 83/100
10/10 [==============================] - 0s 6ms/step - loss: 0.0048 - val_loss: 0.0056
Epoch 84/100
10/10 [==============================] - 0s 5ms/step - loss: 0.0047 - val_loss: 0.0056
Epoch 85/100
10/10 [==============================] - 0s 6ms/step - loss: 0.0047 - val_loss: 0.0054
Epoch 86/100
10/10 [==============================] - 0s 6ms/step - loss: 0.0047 - val_loss: 0.0054
Epoch 87/100
10/10 [==============================] - 0s 6ms/step - loss: 0.0047 - val_loss: 0.0055
Epoch 88/100
10/10 [==============================] - 0s 6ms/step - loss: 0.0046 - val_loss: 0.0053
Epoch 89/100
10/10 [==============================] - 0s 6ms/step - loss: 0.0046 - val_loss: 0.0054
Epoch 90/100
10/10 [==============================] - 0s 7ms/step - loss: 0.0046 - val_loss: 0.0054
Epoch 91/100
10/10 [==============================] - 0s 6ms/step - loss: 0.0046 - val_loss: 0.0053
Epoch 92/100
10/10 [==============================] - 0s 6ms/step - loss: 0.0046 - val_loss: 0.0052
Epoch 93/100
10/10 [==============================] - 0s 5ms/step - loss: 0.0046 - val_loss: 0.0053
Epoch 94/100
10/10 [==============================] - 0s 5ms/step - loss: 0.0045 - val_loss: 0.0052
Epoch 95/100
10/10 [==============================] - 0s 6ms/step - loss: 0.0045 - val_loss: 0.0052
Epoch 96/100
10/10 [==============================] - 0s 5ms/step - loss: 0.0045 - val_loss: 0.0051
Epoch 97/100
10/10 [==============================] - 0s 5ms/step - loss: 0.0044 - val_loss: 0.0051
Epoch 98/100
10/10 [==============================] - 0s 5ms/step - loss: 0.0044 - val_loss: 0.0051
Epoch 99/100
10/10 [==============================] - 0s 5ms/step - loss: 0.0044 - val_loss: 0.0050
Epoch 100/100
10/10 [==============================] - 0s 6ms/step - loss: 0.0044 - val_loss: 0.0051

In [37]:
y_pred=model.predict(x_test_scaled)

4/4 [==============================] - 0s 2ms/step

In [38]:
from sklearn.metrics import r2_score
r2_score(y_test,y_pred)

0.7618264294016988

In [ ]:
import matplotlib.pyplot as plt
plt.plot(history.history['lo'])